/* try */
.our_projects {
  background: var(--light-gray);
  margin-top: 6rem;
  padding: 6rem 0;
  position: relative;
  overflow: hidden;
}

.our_project_pattern {
  position: absolute;
  top: 0;
  left: 0;
}

.our_project_top_conetnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.our_project_slider {
  margin-top: 4.375rem;
  max-width: 1400px;
  margin-left: auto;
}

.project_slider_img {
  width: 100%;
  /* height: 100%; */
  border-radius: 20px;
  object-fit: cover;
}

.slider_img {
  background: #efeef3;
  padding: 2.5rem;
  border-radius: 20px;
  margin: 0 1.25px;
}

.project_slider_content {
  margin-top: 1.25rem;
}

.our_project_slider .project_slide_heading {
  font-family: var(--font-faro);
  font-size: 1.875rem;
  font-weight: bold;
  color: var(--green);
}

.our_project_slider .project_slide_text {
  font-family: var(--font-faro);
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--dark);
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  .our_project_slider {
    width: 100%;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .our_projects {
    margin-top: 5rem;
    padding: 5rem 0;
  }
}

@media (max-width: 767px) {
  .our_projects {
    margin-top: 4rem;
    padding: 3.5rem 0;
  }
}

@media (max-width: 576px) {
  .our_projects {
    margin-top: 2rem;
    padding: 2rem 0;
  }

  .our_project_top_conetnt {
    flex-direction: column;
    align-items: start;
  }

  .our_project_headings {
    margin-bottom: 2rem;
  }

  .our_project_slider {
    padding: 0 20px;
    margin-left: 0;
    margin-top: 2rem;
  }

  .our_project_slider .project_slide_heading {
    font-size: 1.25rem;
  }

  .our_project_slider .project_slide_text {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}
/* try */
