/* Global Projects Page CSS */

.projects-page {
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 2rem;
  font-family: Arial, sans-serif;
}

.projects-page h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  color: #007D58;
}

.project-slider-wrapper {
  position: relative;
}

.slider-item {
  padding: 0 10px;
}

.project-card {
  position: relative;
  text-align: center;
}

.project-image {
  position: relative;
  width: 100%;
  height: 300px; /* for Image fill */
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.project-card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #007D58;
  margin-top: 0.5rem;
  text-align: center;
}

/* Responsive */
@media (max-width: 767px) {
  .project-image {
    height: 250px;
  }

  .project-card h3 {
    font-size: 1.2rem;
  }
}
